@charset "utf-8";

*{outline: 1px solid red;}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.common {
  margin: 0 auto;  
}
.Btop {
  background-color: black;
  width: 100%;
  height: 50px;
}
.top {
  background-color: black;
  width: 600px;
  height: 50px; 
  text-align: right;
  color: white;
  line-height: 50px;
}
header{
  width: 600px;
  height: 150px;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2021/10/22/00/59/restaurant-6730811_960_720.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
nav li a{
  text-decoration: none;
  color: white;
  font-weight : bold;
  font-size: 0.8rem;   
}
nav li a:hover{
  text-decoration: underline;
}
nav li{
 display: inline-block;
 width: 100px;
 line-height: 50px;
 position: relative; 
}
nav{
  background-color: black;
  width: 600px;
  height: 50px;  
  text-align: center;   
}
main {
  background-color: white;
  width:100%;
  height: 90%;
}
.com {
  width: 600px;
  height: 70%;  
}
aside {
  background-color: lightskyblue;
  width: 20%;
  height: 100%;
  float: left;
}
.side {
  text-align: center;
  background-color: lightcyan;
  width: 80%;
  height: 100%;
  float: left;
}
.side h3{
  letter-spacing: 0.5em;
  padding: 20px 0 0 0 ;
  margin: 10px;
}
section p {  
  margin: 0.3px;
}
.type {
  width: 95%;
  margin: 0.3px;  
}
.box {
  width: 90%;
  height: 6%;
  background-color: green;
  color: white;
  font-weight : bold;
  text-align: center;
  text-size-adjust: 10px;
  margin: 15px 15px 15px 10px; 
  padding: 5px;
}
section {
  overflow: hidden;
  background-color: white;
  text-align: left;
  width: 250px;
  height: 80%; 
  padding: 15px;
  
}
.formspan {  
  font-weight: bold;
}
label {
  font-size: 0.8em;
}
footer {
  background-color: gray;
  font-size: 0.8rem;
  width: 600px;
  height: 70px;
  text-align: center;   
  font-weight : bold;
  color: white; 
  line-height: 70px;
}